<p style="font-weight: bold;">Original Amount: <%= original_amount %></p>
<p style="color: red;">Total Loss of Pay Leaves: <%= total_loss_of_pay_leaves %></p>
<p style="font-style: italic;">Deducted Amount: <%= deducted_amount %></p>
<p style="color: green; font-weight: bold;">Net Amount Paid: <%= net_amount %></p>
