// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$primary-color: rgb(0, 136, 255);
@import "active_admin/mixins";
@import "arctic_admin/base";
@import "index_as_calendar";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.approve-button {
    background-color: green;
    color: white;
    padding: 5px 10px; 
    border-radius: 3px;
    text-decoration: none;
  }

  .circular-profile-image {
    width: 250px; /* Adjust the width and height as needed */
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
.fc-day-grid-event .fc-content {
  text-align: center;
  font-size: 14px; 
}

/* General card styles */

.card_description {
  font-size: 18px;
  color: #666;
  margin-bottom: 2px;
  text-align: center;
}

.check_in_card,
.check_out_card,
.notice-board {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9; /* Light background color */
  transition: transform 0.3s ease-in-out;
}

.check_in_card,
.check_out_card {
  text-align: center;
}

.check_in_card:hover,
.check_out_card:hover {
  transform: scale(1.05);
}

/* Button styles */
.check_in_card a,
.check_out_card a {
  padding: 15px 25px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.check_out_card a:hover,
.check_in_card a:hover {
  background-color: #1d3d10;
  color: #fff;
}

/* Flash message styles */
.flash_message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.flash_message.success {
  background-color: #4caf50;
  border: 1px solid #388e3c;
  color: #fff;
}

.flash_message.error {
  background-color: #f44336;
  border: 1px solid #d32f2f;
  color: #fff;
}

/* Welcome message styles */
.welcome-message {
  margin-bottom: 20px;
  background-color: #3498db;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Dashboard container styles */
.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

/* Notice board and container styles */
.notice-board,
.check-in-container,
.check-out-container {
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 20px;
}

.notice-board h2 {
  text-align: center;
  color: #3498db;
}

/* Additional styling as needed */
